In [1]:
import sys
sys.path.append("../")

import argparse
import datetime
import json
import os
import re
from time import sleep

import numpy as np
import pandas as pd
import requests

from vook_db_v7.config import MAX_PAGE, REQ_URL, WANT_ITEMS, req_params

# from logzero import logger

In [11]:
#csvデータ作成
csv_sample = pd.DataFrame()
columns = ["brand", "item", "knowlwdge", "knowledge_id"]
types = [
    "object",
    "object",
    "object",
    "int64",
]
d_column = dict(zip(columns, [2]))
df_brand = pd.DataFrame(data={'brand':['リーバイス','ラングラー']})
df_item = pd.DataFrame(data={'item':['501','501xx']})
df_item = pd.DataFrame(data={'knowkedge_id':['501','501xx']})

In [12]:
df_brand
df_item

    item
0    501
1  501xx

In [4]:
d_column

{'id': 2}